body{
  background-image: url("../images/travel.jpeg");
  background-size: cover;
  
  background-position: center center fixed;
}




#map {
  align-content: center;
  border-style: 25px solid black;
  height: 400px;
  width: 400px;
}

